@charset "UTF-8";

/* Typical device breakpoint
-----------------------------
Pequenas telas: ate 600px
Celular: de 600px a 768px
Tablets: de 768px ate 992px
Desktop: de 992px ate 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {

    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }

}
