@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #C9EAD5;
}

header {
    background-color: #39664A;
    text-align: left;
}

menu {
    background-color: aliceblue;    
    text-align: left;
    display: none;
}

span#menu {
    text-align: left;
    color: black;
    cursor: pointer;
    display: block;
    border: 10px;
}

span#menu:hover {
    color: #C9EAD5;
}

li > a:hover {
    background-color: #39664A;
    color: #C9EAD5;
}

h1 {

}

li {
    display: block;
    background-color: #C9EAD5;
}

li > a {
    color: black;
    text-decoration: none;
}

main {
    width: 50vw;
    background-color: #64B381;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
}

article {
    padding: 5px;
}

p {
    text-align: justify;
    text-indent: 20px;
}

h2 {
    padding: 5px;
}

footer {
    text-align: center;
    padding: 10px;
}